.mision {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
    background-color: $background-color_1;
    backdrop-filter: blur(10px);
    padding: 5%;
    border-radius: 5rem;
  
    img {
      border-radius: 2rem;
      margin-right: 4rem;
      -webkit-mask-image: linear-gradient(to right, black, transparent 80%);
      mask-image: linear-gradient(to right, black, transparent 80%);
    }
  
    .texto {
      text-align: center;
      line-height: 2rem;
      color: $color_1;
      font-family: $font-family_3;
      font-size: 1.25rem;
      
      h2 {
        margin: 3%;
        font-family: $font-family_2;
      }
    }
  }